<html>

<head>
	<title>
		Phil Brown Motors VMS :: Vehicle Management System
	</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<div id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/vehicles/new">Add car</a></li>
		</ul>
	</div>

	<div id="content">
		<%= yield %>
	</div>

</body>


</html>