<form action="/vehicles" class="form-inline" method="POST">
	<ul>
		<li>Registration Plate<input type="text" name="vehicle[registration_plate]" /></li>
		<li>Make<input type="text" name="vehicle[make]" /></li>
		<li>Model<input type="text" name="vehicle[model]" /></li>
		<li>Chassis/Vin<input type="text" name="vehicle[chassis_vin]" /></li>
		<li>Vehicle Year<input type="text" name="vehicle[vehicle_year]" /></li>
		<li>Fuel Type<input type="text" name="vehicle[fuel_type]" /></li>
		<li>Odometer Reading<input type="text" name="vehicle[odometer_reading]" /></li>
		<li>Colour<input type="text" name="vehicle[colour]" /></li>
		<li>CC Rating<input type="text" name="vehicle[cc_rating]" /></li>
		<li>WOF Details<input type="text" name="vehicle[wof_details]" /></li>
		<li>Purchase Price<input type="text" name="vehicle[purchase_price]" /></li>
		<li>Sale Price<input type="text" name="vehicle[sale_price]" /></li>
		<li>Purchase Date<input type="text" name="vehicle[purchase_date]" /></li>
		<li>Sale Date<input type="text" name="vehicle[sale_date]" /></li>

		<li><input type="submit" value="Add Car"></button></li>
	</ul>
</form>